# Introduction
* Standard libraries - A set of built-in function to any language. 
* External libraries - Something you need to download from external sources for special usage 

## Logical Operator 
* And, Or, Not and Xor

In [27]:
x = y = [True,False]
print ('  x  \t y \t   xy \t\t x+y \t ~x \t x^y')
print (' --- \t---\t  ----\t\t---- \t--- \t----')
for i in x:
    for j in y:
        print(f'{i} \t {j} \t | {i and j} \t {i or j} \t {not i} \t {i ^ j}')

  x  	 y 	   xy 		 x+y 	 ~x 	 x^y
 --- 	---	  ----		---- 	--- 	----
True 	 True 	 | True 	 True 	 False 	 False
True 	 False 	 | False 	 True 	 False 	 True
False 	 True 	 | False 	 True 	 True 	 True
False 	 False 	 | False 	 False 	 True 	 False

### Logical operators with numbers

In [38]:
x = y = [5,2]
print (' x  \t y \t   xy \t x+y \t ~x \t x^y')
print ('--- \t---\t  ----\t---- \t--- \t----')
for i in x:
    for j in y:
        print(f'{i} \t {j} \t | {i and j} \t {i or j} \t {not i} \t {i ^ j}')

 x  	 y 	   xy 	 x+y 	 ~x 	 x^y
--- 	---	  ----	---- 	--- 	----
5 	 5 	 | 5 	 5 	 False 	 0
5 	 2 	 | 2 	 5 	 False 	 7
2 	 5 	 | 5 	 2 	 False 	 7
2 	 2 	 | 2 	 2 	 False 	 0

### Logical operators with string

In [63]:
x = y = ['abcd','ac']
print (' x  \t y \t   xy \t x+y \t ~x')
print ('--- \t---\t  ----\t---- \t---')
for i in x:
    for j in y:
        print(f'{i}\t{j}\t| {i and j}\t{i or j}\t{not i}')

 x  	 y 	   xy 	 x+y 	 ~x
--- 	---	  ----	---- 	---
abcd	abcd	| abcd	abcd	False
abcd	ac	| ac	abcd	False
ac	abcd	| abcd	ac	False
ac	ac	| ac	ac	False

## Comparison Operator 
* < , > , == , <= , >=

In [67]:
# basics
print('1 \t' , 6<1)
print('2 \t' , 6==6)

# strings
print('3 \t' , 'abcde'<'acdef') #compares first missmatch char 
print('4 \t' , 'abcdefg' > 'acd')

1 	 False
2 	 True
3 	 True
4 	 False

## `len()`
returns the number of elements of any iterable object

In [73]:
print('abcd'.__len__())
print(''.__len__())

4
0

In [70]:
len('abcd')

4

In [72]:
len([1,2,3,5,6])

5

In [75]:
len({'a':10, 'b':20, 'c':30})

3

## `range()`

* `range(n)` : $0 ... n-1$
* `range(m,n)` : $m ... n-1$
* `range(m,n,p)` : $m, m+p , m+2p, ... n-1$

In [76]:
print( list( range(5) ) )
print( list( range(5,10) ) )
print( list( range(1,10,3) ) )

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[1, 4, 7]

## `min()` & `max()`

In [82]:
print( min('abcd'), max('abcd') )
print( min([1,2,3,4]) , max([1,2,3,4]))

a d
1 4

In [87]:
print(min('aabbcc','aabc'))
print(max('x','aabc'))

aabbcc
x

## `round()`

In [92]:
print( round(4) )
print( round(4.67 , 1) )
print( round(4.55 , 1) )
print( round(4.65 , 1) )
print( round(-2.32231 , 3) )

4
4.7
4.5
4.7
-2.322

## `abs()`

In [93]:
print( abs(-2.3) , abs(2.3) )

2.3 2.3

## `pow()`

In [94]:
print( pow(2,25) , pow(2, -3) )

33554432 0.125

## `sorted()`

In [95]:
sorted( [1,2,3,4,5] , reverse=True )

[5, 4, 3, 2, 1]

In [100]:
sorted( ['Ann','sue', 'jerry', 'lynda'], key=str.upper)

['Ann', 'jerry', 'lynda', 'sue']

In [112]:
# find the name of the top scorer 
x = {'alex':60 , 'bob': 30 , 'charlie':65 , 'dolly':75, 'ema':75 }
v = sorted( list(x.values()) , reverse=True)[0]
[key for (key,value) in x.items() if value==75]

['dolly', 'ema']

In [117]:
marks = [('alice' , 'B' , 12),
         ('bob',    'A' , 16),
         ('chirls', 'C' , 15)]
print('by name  :' , 
      sorted( marks, key = lambda marks:marks[0] )
     )
print('by grade :' , 
      sorted( marks, key = lambda marks:marks[1] )
     )
print('by marks :' , 
      sorted( marks, key = lambda marks:marks[2], 
              reverse=True )
     )

by name  : [('alice', 'B', 12), ('bob', 'A', 16), ('chirls', 'C', 15)]
by grade : [('bob', 'A', 16), ('alice', 'B', 12), ('chirls', 'C', 15)]
by marks : [('bob', 'A', 16), ('chirls', 'C', 15), ('alice', 'B', 12)]

## `type()`

In [120]:
print( '1',type(10) )
print( '2',type(10.0) )
print( '3',type('abc') )
print( '4',type([10,20]) )
print( '5',type({10,20}) )
print( '6',type({'a':10, 'b':20}) )
print( '7',type((10,20)) )
print( '8',type(range(4)))

1 <class 'int'>
2 <class 'float'>
3 <class 'str'>
4 <class 'list'>
5 <class 'set'>
6 <class 'dict'>
7 <class 'tuple'>
8 <class 'range'>

## isInstance()

In [136]:
class Base:
    def __init__(self,name):
        self.pname = name
        
class Test(Base):
    def __init__(self, name, pname):
        super().__init__(pname)
        self.name = name
        
b = Base('me')        
t = Test('me','my_father')
print(t.name, t.pname)

me my_father

In [135]:
type(t)

__main__.Test

In [137]:
type(t) == type(b)

False

In [139]:
isinstance(t,Base) #includes inheritence

True

# Math Module

## basic constants

In [140]:
import math

In [141]:
math.pi

3.141592653589793

In [142]:
math.e

2.718281828459045

In [143]:
math.nan

nan

## triginometric value

In [146]:
math.sin(math.pi/6)

0.49999999999999994

### `radians()`

In [155]:
math.sin(math.radians(30)) #to calculate in degrees

0.49999999999999994

### `degrees()`

In [157]:
math.degrees(math.pi/6)

29.999999999999996

## `ceil()` & `floor`

In [147]:
math.ceil(5.6)

6

In [148]:
math.floor(5.6)

5

## `factorial()`

In [149]:
math.factorial(5)

120

## `gcd()`

In [151]:
math.gcd(20,15)

5

## `sqrt()`

In [152]:
math.sqrt(19)

4.358898943540674

In [153]:
19 ** 0.5

4.358898943540674

# random

In [158]:
import random

In [161]:
random.random() # r in [0,1]

0.3840957563352422

In [164]:
print( random.randrange(5) )    # r in [0,5)
print( random.randrange(2,10) ) # r in [2,10)
print( random.randrange(2,10,2))# r in {2, 4, 6, 8}

3
3
8

## `sample()`

In [174]:
# picking up m random numbers from a population of n
n = 100
m = 5 
random.sample(population=range(n), k=m)

[98, 66, 11, 97, 20]

## `choice()`

In [176]:
# any random value from the population
random.choice(range(100))

11

## `shuffle()`

In [185]:
x = list(range(1,10,2))
print('before \t', x)
random.shuffle( x )
print('after \t', x)

before 	 [1, 3, 5, 7, 9]
after 	 [9, 3, 7, 1, 5]

# Statistics

In [188]:
import statistics as stat

In [189]:
x = [2,3,3,4,5,6]

In [190]:
stat.mean(x) #average

3.8333333333333335

In [199]:
#finding median without using the function
def get_median(x):
    import math as m
    sorted(x)
    if len(x)%2 == 1:
        return x[m.ceil(len(x)/2)]
    else:
        return ( x[m.ceil(len(x)/2)]+
                 x[m.ceil(len(x)/2) - 1] ) /2
get_median(x)

3.5

In [191]:
stat.median(x) #mid point

3.5

In [192]:
stat.mode(x) #most frequent

3

In [197]:
stat.variance(x)

2.1666666666666665

In [198]:
stat.stdev(x)

1.4719601443879744

# Itertool
Used for infinite countung mechanism 
* https://docs.python.org/3/library/itertools.html

In [1]:
import itertools

## Finite iterators
### Cumulative sum : `accumulate()`

In [210]:
# Cumulative sum 

list( itertools.accumulate([1,2,3,4,5]) )

[1, 3, 6, 10, 15]

### Binary Selection : `Compress()`

In [213]:
x = ['a','b','c','d','e','f','g']
y = [1,0,0,0,1,0,0]
list (itertools.compress(x,y))

['a', 'e']

### Conditional Selection : `dropwhile()` & `takewhile()`
drop or take untill the first match happens

In [226]:
#dropwhile
list( itertools.dropwhile(lambda i : i in ['a','e'] , x) )

['b', 'c', 'd', 'e', 'f', 'g']

In [222]:
#takewhile
list( itertools.takewhile(lambda i : i in ['a','e'] , x) )

['a']

## Infinite iterators
### Count to infinity from $n$ : `count(n,[step])`

In [12]:
for i in itertools.count(5):
    if i < 10:
        print(i)
    else:
        break # the brak is must 
              # otherwise it'll keep counting w/o printing  
              # and eventually crash

5
6
7
8
9

### Repeat a sequence infinitely : `cycle(seq)`

In [18]:
a = []
for i in itertools.cycle([1,2,3]):
    if ( len(a) < 12):
        a.append(i)
    else:
        break 
print(a)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## Combinatorics 
### `permulation(X)`

In [13]:
# all possible ordering 
list ( itertools.permutations( [1,2,3] ) )

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

### `combination(X,r)`

In [15]:
# all possible subsets of length r
list (itertools.combinations( [1,2,3] , 2))

[(1, 2), (1, 3), (2, 3)]

# Input / Output

## Command Line Argument

In [24]:
# summing up all numbers from CLI
import sys

print('number of args : \t', len( sys.argv ))
print('arg list       : \t', sys.argv )
# remove the first item 
sys.argv.remove(sys.argv[0])

#sum up the rest is possible 
try:
    sum = 0
    for i in sys.argv:
        sum += int(i)
    print(f'sum : {sum}')
except:
    print('Error : Bad Input')

number of args : 	 2
arg list       : 	 ['-f', '/home/rishi/.local/share/jupyter/runtime/kernel-ffdf23a7-4711-48fc-9409-bdaa81d18754.json']
Error : Bad Input

This code won't run within Jupyter cell, make a new file and run on CLI 
```
$ python3 cla.py '1' '2' '3'
number of args : 	 4
arg list       : 	 ['cla.py', '1', '2', '3']
sum : 6

$ python3 cla.py '1' '2' 'a'
number of args : 	 4
arg list       : 	 ['cla.py', '1', '2', 'a']
Error : Bad Input

```

## Files
Files make your data __Persistant__
### Reading and writing 
* Files are opened with a __File Pointer__ and read/written using a __Seek Pointer__
* If the named file doesn't exist, it'll create one
* Operation modes :
    * __r__  : read 
    * __w__  : write, erase all previous content 
    * __r+__ : read + write
    * __a__  : append, adds new content after previous one

In [86]:
# open/create a file
fp = open('testFile.csv','w')

# write 3 entries 
entries = ['name , city , job ',
           'Amar , Delhi , Manager',
           'Bob  , London , Banker',
           'Chen , NY , Developer']

# writing in file
for e in entries: 
    fp.write(e+'\n')

# close the file    
fp.close()

In [87]:
import pandas as pd
df = pd.read_csv('testFile.csv')
df

   name      city         job
0  Amar     Delhi      Manager
1  Bob     London       Banker
2  Chen        NY    Developer

### See 'open' params

In [46]:
fp = open('testFile.csv','r')
print(f' name = {fp.name} \n mode = {fp.mode} \n seek = {fp.seek}')

 name = testFile.csv
 mode = r
 seek = <built-in method seek of _io.TextIOWrapper object at 0x7f3dde050210>

### Reading a file
we're gonna see how `with` clause is useful in it

In [47]:
# 'with' opens a file and makes it life for a scope only
with open('testFile.csv','r') as fp:
    for line in fp.readlines():
        print(line)

name , city , job

Amar , Delhi , Manager

Bob  , London , Banker

Chen , NY , Developer

### File Seeking

In [52]:
fp = open('testFile.csv','r')
print(fp.read(10)) # read 10 characters
print(fp.read(10))
fp.close()

name , cit
y , job
A

Notice, everytime a read statement is given its being offset. the __Seek pointer__ remembers where it left the last read. to reset use __`fp.seek(n)`__ funtion to set the pointer to $n$ position, $n=0$ means resetting to begining

In [49]:
fp = open('testFile.csv','r')

print(fp.read(10)) # read 10 characters
fp.seek(0)         # resetting SP to 0
print(fp.read(10)) # reading again 

fp.close()

name , cit
name , cit

### using `str.replace()` to update a file

In [88]:
# change Chen's city to Beijing
# step 1: Read the file content and relpace accrodingly
temp = []
with open('testFile.csv','r') as fp:
    for line in fp.readlines():
        temp.append( line.replace('Chen , NY , Developer', 'Chen , Beijing , Developer') )

temp # for verification

['name , city , job \n',
 'Amar , Delhi , Manager\n',
 'Bob  , London , Banker\n',
 'Chen , Beijing , Developer\n']

In [89]:
# step 2: write back to the file
with open('testFile.csv','w') as fp:
    for line in temp:
        fp.write(line+'\n')

In [90]:
df = pd.read_csv('testFile.csv')
df

   name       city         job
0  Amar      Delhi      Manager
1  Bob      London       Banker
2  Chen    Beijing    Developer

### Tempfile
create a persistannt object temporarily

In [91]:
import tempfile

In [109]:
temp = tempfile.TemporaryFile() # create a temp file, no name needed
data = 'save this special number : 5678389' # this data to be written
temp.write(bytes(data,'utf-8')) # conver data into byte array 
temp.seek(0)                    # reloacate seek pointer to 0
print(temp.read().decode('utf-8')) # decode bytes into string 
temp.close()                    # close

save this special number : 5678389

### Zip files
first create a zip files of two files

In [111]:
with open('file1.txt','w') as fp:
    fp.write('this is the first file')

with open('file2.txt','w') as fp:
    fp.write('this is the second  file')

In [112]:
import os

In [116]:
# commnad : zip [out.zip] [file1 file2 ...]
os.system('zip zipped_file.zip file1.txt file2.txt')

0

Lets see various operation that is possible

In [117]:
import zipfile

In [121]:
# see the zipped content
zf = zipfile.ZipFile(file='zipped_file.zip', mode= 'r')
print(zf.namelist())
zf.close()

['file1.txt', 'file2.txt']

In [122]:
# see metadata of each zipped items
with zipfile.ZipFile(file='zipped_file.zip',mode='r') as zf:
    for m in zf.infolist():
        print(m)

<ZipInfo filename='file1.txt' compress_type=deflate filemode='-rw-rw-r--' file_size=22 compress_size=21>
<ZipInfo filename='file2.txt' filemode='-rw-rw-r--' file_size=24>

In [128]:
# another way to see metadata 
with zipfile.ZipFile(file='zipped_file.zip', mode='r') as zf:
    for f in zf.namelist():
        print(zf.getinfo(f))

<ZipInfo filename='file1.txt' compress_type=deflate filemode='-rw-rw-r--' file_size=22 compress_size=21>
<ZipInfo filename='file2.txt' filemode='-rw-rw-r--' file_size=24>

In [133]:
# reading individual files within the zip file
with zipfile.ZipFile(file='zipped_file.zip', mode='r') as zf:
    for f in zf.namelist():
        print(zf.read(f).decode('utf-8')) # as the def out in byte array

this is the first file
this is the second  file

In [141]:
# accessing a file directly from zip
with zipfile.ZipFile(file='zipped_file.zip', mode='r') as zf:
    for f in zf.namelist():   # for each file name 
        with zf.open(f) as fp: # open a file pointer 
            print(fp.read().decode('utf-8'))   # and read its content in str

this is the first file
this is the second  file

# Parsing data

## `datetime`  module

In [142]:
from datetime import datetime

In [143]:
datetime.now()

datetime.datetime(2020, 5, 26, 18, 19, 50, 716680)

lets break it down

In [150]:
now = datetime.now()
print(f'Date:{now.date()} , Month:{now.month}, Year:{now.year}')
print(f'Time:{now.time()}, Hour:{now.hour}, min:{now.minute}, sec:{now.second}')

Date:2020-05-26 , Month:5, Year:2020
Time:18:24:35.803510, Hour:18, min:24, sec:35

### formatting date time `strftime()`
string format time: returns a string formatted date time 

| day                      | month             | year      |
| ----                     | ----              | ---       |
| %a : Mon , Tue, Wed      |%b : Jan, Feb      |           |       
| %A : Monday, Tuesday     |%B : Januarry      | %Y :2020  |
| %d : day of the month    |%m : numeric month | %y :20    |

For time
* %H - Hour
* %M - Minute
* %S - Second
* %p - AM/PM

In [151]:
now

datetime.datetime(2020, 5, 26, 18, 24, 35, 803510)

In [152]:
now.strftime('%a %A %d')

'Tue Tuesday 26'

In [153]:
now.strftime('%b %B %m')

'May May 05'

In [160]:
now.strftime('%y %Y')

'20 2020'

In [161]:
now.strftime('%d %B %y')

'26 May 20'

In [169]:
now.strftime('%H : %M : %S %p')

'18 : 24 : 35 PM'

### Shiftig in time using `timedelata()`

In [170]:
from datetime import timedelta

In [178]:
print(now)

2020-05-26 18:24:35.803510

In [176]:
print(now + timedelta(days = 2))

2020-05-28 18:24:35.803510

In [177]:
print(now - timedelta(weeks = 3))

2020-05-05 18:24:35.803510

In [179]:
import calendar

### `calander` module

In [181]:
print(calendar.month(2020,2))

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

What week day is a given date?

In [183]:
# counts as Mon = 0 and Sun = 6
print(calendar.weekday(2020, 2, 15))

5

Is is given year leapyear?

In [184]:
calendar.isleap(2020)

True

### `time.sleep()`

In [199]:
#create a timer function
def timer(s):
    import time
    while s > 0:
        print(f'{datetime.now().strftime("%H:%M:%S")} ---\t {s} sec remaining ')
        time.sleep(1)
        s-=1
    print("time's up")

In [200]:
timer(10)

18:53:32 ---	 10 sec remaining
18:53:33 ---	 9 sec remaining
18:53:34 ---	 8 sec remaining
18:53:35 ---	 7 sec remaining
18:53:36 ---	 6 sec remaining
18:53:37 ---	 5 sec remaining
18:53:38 ---	 4 sec remaining
18:53:39 ---	 3 sec remaining
18:53:40 ---	 2 sec remaining
18:53:41 ---	 1 sec remaining
time's up